@import '~antd/dist/antd.css';


.ant-layout {
    background: #ffffff
}

/*высота headerStep блока*/
.ant-layout-header {
    height: 48px;
    background: #fff;
    margin-bottom: 70px;
}

/*  left sideBar */
.ant-layout-sider  {
    border-right: 1px solid #d1e9ff;
    background-color: #fff;
}
.ant-menu-inline-collapsed{
    width: 40px;
}

/*  left sideBar кнопка открытия */
.ant-layout-sider-trigger  {
    background: #1890ff;
}

.ant-layout-footer {
    background-color: #fff;
}

/*стилизация блока content*/
.ant-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

/* для форм на 2 и 4 странице*/
.ant-form-item {
    width: 300px;
    justify-content: space-between;
}

.ant-form-horizontal .ant-form-item-control {
    flex: inherit;
}

.ant-input,
.ant-input-number {
    min-width: 120px;
}

.ant-form-item-label {
    text-align: left;
}
.ant-form-item-required{
    max-width: 180px;
    white-space: normal;
}