
.form_wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../assets/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.loginForm {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    max-width: 300px;
    margin: 0 auto;
    z-index: 100;
}

.loginForm h2 {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}

.loginFormForgot {
    float: right;
}

.antColRtl .loginFormForgot {
    float: left;
}

.loginFormButton {
    width: 100%;
    margin-bottom: 15px;
}
