.pageOneMain img {
    width: 80%;
    height: 80%;

}

.pageOneMain_Block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageOneMain_Block div {
    margin-top: 5px;
}

.pageOneMain_Block button {
    width: 180px;
}

.radioBox {
    display: flex;
    width: 600px;
    align-items: center;
}

.pageOneMain {
    background-color: lightgrey;
    text-align: center;

}

.btn {
    background-color: blue;
}
