.pageOneMain img {
    width: 80%;
    height: 80%;

}

.pageOneMain_Block {
    display: flex;
    flex-direction: column;
    align-items: center;


}
.pageOneMain_Block div {
    margin-top: 5px;

}
.pageOneMain_Block button {
   width: 180px;

}